* {
    /* font-family: 'Playfair', serif; */
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Playfair', serif;
}
body {
    text-align: center;
    margin: 0;
}
.name {
    font-family: 'Lobster Two', cursive;
    font-size: 65px;
    margin-bottom: 10px;
}
.page1 {
    position: relative;
    padding-top: 120px;
    background-color: antiquewhite;
    color: rgb(241, 133, 56);
    padding-bottom: 0;
}
div {
    display: block;
}
.ocean-waves-image {
    margin-top: 150px;
    padding-bottom: 0;
}
.container-2 {
    background-color: rgb(219, 244, 249);
    padding-bottom: 30px;
}
.container-2> img {
    height: 170px;
    margin-top: 50px;
    border-radius: 50%;
}

.about-text {
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
}
.container-2 h3 {
    color: rgb(59, 66, 104);
    font-size: larger;
}

.container-2> h2 {
    color: rgb(59, 66, 104);
    font-size: 30px;
}
.skills {
    display: flex;
    gap: 30px;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    text-align: left;
}

.skills div{
    border: 3px solid rgb(4, 68, 91);
    border-radius: 10px;
    width: 30%;
    padding: 10px 10px 10px 20px;
    font-size: 18px;
}

.skills> div> h3 {
    font-size: 20px;
}

.contact {
    margin-top: 80px;
}
.contact>h2 {
    font-size: 45px;
    color: rgb(4, 68, 91);
    margin-bottom: 10px;
}
.contact>p {
    font-size: 20px;
}
.contact> .b {
    background-color: rgb(8, 106, 155);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 20px;   
}
.contact> .b:hover {
    background-color: rgb(25, 179, 196);
    
}
footer {
    background-color: rgb(62, 120, 164);
    padding-top: 30px;
    padding-bottom: 20px;
}
.ftr {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
}
.ftr a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}
.ftr2 {
    color: white;
    text-align: center;
    font-size: 15px;
}
.ftr2 p {
    font-family: sans-serif;
}
@media (max-width:800px) {

    .skills {
        flex-direction: column;
        align-items: center;
    }
    .skills div{
        width: 80%;
    }
    .about-text {
        width: 80%;
        margin-left: 10%;
    }
    .ftr {
        width: 80%;
        margin-left: 10%;
    }
}
    